@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.p {
  font-family: "Bellota Text", sans-serif;
}

.navbar {
  background-color: #4A2040;
  font-family: "Khula", sans-serif;
  color: white !important;
}
.navbar a {
  color: white !important;
}

.nav-link:hover {
  color: #C880B7 !important;
}

.sec1 {
  background-image: url(../multimedia/portada3.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}
.sec1 p {
  font-family: "Bellota Text", sans-serif;
  font-size: 20px;
  color: #222021;
  text-shadow: 0 0 1px;
}

.sec1 h1 {
  font-family: "Khula", sans-serif;
  text-transform: capitalize;
  text-transform: uppercase;
  color: #222021;
  font-size: 32px;
  text-shadow: 0 0 1px;
}

.sec1 h2 {
  font-family: "Khula", sans-serif;
  color: #222021;
  font-size: 20px;
  text-shadow: 0 0 1px;
}

.cuadrado {
  height: 50px;
  width: 200px;
  background-color: #4A2040;
  border: 2px solid #C880B7;
  list-style: none;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  transition: 0.7s;
  border-radius: 50px;
}
.cuadrado a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Bellota Text", sans-serif;
}

.cuadrado:hover {
  transform: scale(0.9);
  background-color: #C880B7;
  border: 2px solid #4A2040;
  color: white;
  border-radius: 20px;
}

.sec2 {
  padding-top: 20px;
  padding-bottom: 50px;
}
.sec2 h3 {
  font-family: "Khula", sans-serif;
  color: #222021;
}

.sec2 h2 {
  font-family: "Khula", sans-serif;
  color: #222021;
  text-align: center;
  padding-bottom: 50px;
  font-size: 45px;
}

.sec2 p {
  font-family: "Bellota Text", sans-serif;
  color: #222021;
}

.sec3 {
  background-color: #F5CCE8;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sec3 h3 {
  padding-top: 20px;
  font-family: "Khula", sans-serif;
  font-size: 50px;
  color: #222021;
}
.sec3 h3 .text {
  padding-top: 20px;
}
.sec3 h3 .text p {
  font-family: "Bellota Text", sans-serif;
  color: #222021;
}

.sec3 h4 {
  padding-top: 20px;
  font-family: "Khula", sans-serif;
  font-size: 30px;
  color: #222021;
}

.sec4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.sec4 h3 {
  font-family: "Khula", sans-serif;
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
  color: #222021;
}

.sec4 p {
  font-family: "Bellota Text", sans-serif;
  text-align: center;
  color: #222021;
}

.sec5 {
  background-color: #F5CCE8;
}
.sec5 .tipos h3 {
  font-family: "Khula", sans-serif;
  padding: 50px;
  text-align: center;
  font-size: 30px;
  color: #222021;
}

.sec5 p {
  font-family: "Bellota Text", sans-serif;
  text-align: center;
  padding-top: 50px;
}

.sec5 .card {
  border-color: #4A2040;
}

.sec5 .card-header {
  background-color: #F5CCE8;
  text-align: center;
}
.sec5 .card-header .btn {
  background-color: #4A2040;
  color: white;
  border-color: #C880B7;
  transition: 0.7s;
  border-radius: 50px;
}

.sec5 .btn:hover {
  background-color: #C880B7;
  color: white;
  border-color: #4A2040;
  transform: scale(0.9);
  border-radius: 20px;
}

.sec5 .card-body {
  background-color: #F5CCE8;
  text-align: center;
}

.sec5 .CTA {
  padding-bottom: 50px;
}

.sec1sobremi {
  background-color: white;
  padding: 50px;
}
.sec1sobremi h2 {
  font-family: "Khula", sans-serif;
}

.sec1sobremi p {
  font-family: "Bellota Text", sans-serif;
}

.sec2sobremi {
  background-color: #F5CCE8;
}
.sec2sobremi .img {
  height: 500px;
  padding: 50px;
}

.sec2sobremi h4 {
  font-family: "Khula", sans-serif;
  text-align: center;
  color: #4A2040;
  padding-bottom: 50px;
}

.sec1servicios h2 {
  padding: 20px;
  text-align: center;
  font-family: "Khula", sans-serif;
}

.cuadrado2 {
  height: 75px;
  width: 200px;
  background-color: #4A2040;
  border: 2px solid #C880B7;
  list-style: none;
  text-decoration: none;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  transition: 0.7s;
  border-radius: 50px;
  color: white;
}
.cuadrado2 a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Bellota Text", sans-serif;
}

.cuadrado2:hover {
  transform: scale(0.9);
  background-color: #C880B7;
  border: 2px solid #4A2040;
  color: white;
  border-radius: 20px;
}

.sec2servicios {
  text-align: center;
  font-family: "Khula", sans-serif;
}
.sec2servicios .redes2 a {
  letter-spacing: 20px;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  color: #4A2040;
}
.sec2servicios .redes2 a :hover {
  color: #F5CCE8;
}

footer {
  background-color: #4A2040;
  color: white;
  text-align: center;
  padding: 20px;
}
footer .redes a {
  letter-spacing: 20px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
footer .redes a :hover {
  color: #F5CCE8;
}

.cierre {
  text-align: center;
  padding: 50px;
}
.cierre .h8 {
  font-size: 10px;
}

.subir {
  width: 40px;
  height: 40px;
  background-color: #4A2040;
  text-decoration: none;
  color: white;
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
.subir :hover {
  color: #F5CCE8;
}/*# sourceMappingURL=estilos.css.map */